header {
    background-color: black;
    height: 40px;
}

.sony-logo {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 100%;
}

nav {
    height: 75px;
    /* background-color: gray; */
    color: black;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.playstation-logo {
    margin-left: 15px;
}

ul {
    margin: auto;
    margin-left: 0;
}

li {
    list-style: none;
    display: inline;
    margin-left: 25px;
}

.nav-left {
    padding-left: 0;
}

.nav-right {
    margin-right: 20px;
}

.jumbotron {
    height: 750px;
    background-image: url('../img/jumbo-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 40px;
}

.jumbotron .container {
    height: 750px;
    position: relative;
    
}

.banner-container {
    height: 45%;
    position: absolute;
    bottom: 0;
    left: 15px;
    color: white;
}

.banner {
    width: 200px;
}

a {
    text-decoration: none;
}

.banner-btn {
    border-radius: 100px;
    background-color: #CD3D0F;
    color: white;
    padding: 10px 15px;
}

.mb {
    margin-bottom: 25px;
}

.img-preview {
    margin-bottom: 100px;
}

.preview-img {
    height: 100%;
    border-radius: 25px;
}

.ps5-introduction {
    height: 200px;
   /*  background-color: red; */
    text-align: center;
    margin-bottom: 125px;
}

.ps5-introduction h6 {
    color: #40a0ef;
}

.ps5-introduction h1 {
    margin-bottom: 40px;
}

.gray {
    color: rgb(142, 141, 141);
}

.console {
    height: 600px;
    /* background-color: red; */
    margin-bottom: 100px;
}

.console-img {
    width: 100%;
}

.console-btn {
    border-radius: 100px;
    background-color: #2D64E6;
    color: white;
    padding: 10px 15px;
}

.console h4 {
    margin-bottom: 40px;
}

.console-items {
    display: flex;
}

.item-preview {
    width: calc(100% / 5);
    height: 250px;
}

.item-container {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 25px;
}

.item-name {
    text-align: center;
}

.it-takes-two {
    height: 750px;
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.it-takes-two .container {
    position: relative;
    height: 100%;
}

.it-takes-two .banner-container {
    height: 55%;
    position: absolute;
    bottom: 0;
    left: 15px;
    color: white;
}

.new-releases {
    background-color: #1F1F1F;
    /* max-height: 750px; */
}

.new-release-container {
    color: white;
}

.new-game {
    width: 100%;
    border-radius: 25px;
}

.new-release-container p {
    font-size: 20px;
    text-align: center;
    margin-top: 15px;
}

.ps4-introduction {
    text-align: center;
    margin-bottom: 125px;
    margin-top: 50px;
}

.ps4-introduction h1 {
    margin-bottom: 25px;
}

.ps4-introduction p {
    font-size: 20px;
    margin-bottom: 80px;
}

.ps4-container {
    margin-bottom: 50px;
}

.ps4-item {
    width: 100%;
}

.ps4-container h2{
    text-align: left;
}

.ps4-btn {
    border-radius: 100px;
    background-color: #2D64E6;
    color: white;
    padding: 10px 15px;
}

.playstation-plus {
    /* max-height: 465px; */
    background-color: lightgray;
    margin-bottom: 100px;
}

.ps-plus-logo {
    width:100%
}

.playstation-plus .play-plus-img {
    width: 100%;
}

.ps-sales p {
    font-size: 30px;
}

.ps-now {
    background-color: #161C3B;
}

.ps-now p {
    color: white;
    margin-top: 25px;
    font-size: 25px;
    margin-bottom: 50px;
}

.ps-now-btn {
    border-radius: 100px;
    background-color: white;
    color: black;
    padding: 10px 15px;
    font-weight: bold;
}
